dist
build

.env
.git
.gitignore
.dockerignore
.vscode

docker-compose.dev.yaml
docker-compose.prod.yaml
docker-compose.yaml
Dockerfile
Dockerfile.dev
Dockerfile.prod

Makefile
README.md
config
node_modules